<div class="flex mx-auto md:px-4 max-w-7xl my-12 px-4" x-data="{ accounttab: 'tabEditSettings', alertVisible: true }">

    {% if success or error %}
    <template x-teleport="#alert-container-authed">
        <div class="alert {{ success ? 'alert-success' : 'alert-error' }} shadow-lg relative" x-show="alertVisible" x-transition>
            <div class="pr-8 items-start">
                {% if success %}
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                <span>{{ successText }}</span>
                {% endif %}
                {% if error %}
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current self-start flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" /></svg>
                <span>{{ errorText }}</span>
                {% endif %}
            </div>
            <button class="absolute top-2 md:top-4 right-4" @click="alertVisible = false">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>
    </template>
    {% endif %}

    <div class="mr-5 hidden lg:flex flex-col gap-6">
        <button @click="accounttab = 'tabEditCredentials'" class="btn btn-square w-16 h-16 p-0 shadow-lg" :class="accounttab == 'tabEditCredentials' ? 'btn-primary' : 'btn-secondary'">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
        </button>
        <button @click="accounttab = 'tabEditSettings'" class="btn btn-square w-16 h-16 p-0 shadow-lg" :class="accounttab == 'tabEditSettings' ? 'btn-primary' : 'btn-secondary'">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
            </svg>
        </button>
    </div>
    <div class="flex flex-col justify-center grow overflow-hidden rounded-box">
        <div class="px-6 py-4 md:px-14 md:py-8" style="background-image: url(https://cdn.mypanel.link/af5a5a/eq5le1xgnbs72wt1.png); background-size: cover; background-repeat: none;">
            <h1 class="text-primary mb-5 font-light text-2xl">Halaman Akaun</h1>
            <div class="flex sm:items-center justify-center flex-col sm:flex-row gap-8">
                <div class="px-4 py-3 rounded-lg bg-secondary text-secondary-content flex items-center flex-1">
                    <div class="ms-2 mr-4 items-center bg-light flex justify-center rounded-circle" style="height: 40px; width: 40px;">
                        <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 512 512"><title>Wallet</title><path d="M95.5 104h320a87.73 87.73 0 0111.18.71 66 66 0 00-77.51-55.56L86 94.08h-.3a66 66 0 00-41.07 26.13A87.57 87.57 0 0195.5 104zM415.5 128h-320a64.07 64.07 0 00-64 64v192a64.07 64.07 0 0064 64h320a64.07 64.07 0 0064-64V192a64.07 64.07 0 00-64-64zM368 320a32 32 0 1132-32 32 32 0 01-32 32z"></path><path d="M32 259.5V160c0-21.67 12-58 53.65-65.87C121 87.5 156 87.5 156 87.5s23 16 4 16-18.5 24.5 0 24.5 0 23.5 0 23.5L85.5 236z"></path></svg>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-light">Baki</span>
                        <span class="tex-3xl font-bold">RM{{ user['balance'] }}</span>
                    </div>
                </div>
                <div class="px-4 py-3 rounded-lg bg-secondary text-secondary-content flex items-center justify-content-start flex-1">
                    <div class="ms-2 mr-4 items-center bg-light flex justify-center rounded-circle" style="height: 40px; width: 40px;">
                        <svg width="24px" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 512 512"><title>Receipt</title><path d="M483.82 32.45a16.28 16.28 0 00-11.23 1.37L448 46.1l-24.8-12.4a16 16 0 00-14.31 0l-25.11 12.41L359 33.7a16 16 0 00-14.36 0L320 46.07l-24.45-12.34a16 16 0 00-14.35-.06L256 46.12l-24.8-12.43a16.05 16.05 0 00-14.33 0L192 46.1l-24.84-12.41a16 16 0 00-19.36 3.94 16.25 16.25 0 00-3.8 10.65V288l.05.05H336a32 32 0 0132 32V424c0 30.93 33.07 56 64 56h12a52 52 0 0052-52V48a16 16 0 00-12.18-15.55zM416 240H288.5c-8.64 0-16.1-6.64-16.48-15.28A16 16 0 01288 208h127.5c8.64 0 16.1 6.64 16.48 15.28A16 16 0 01416 240zm0-80H224.5c-8.64 0-16.1-6.64-16.48-15.28A16 16 0 01224 128h191.5c8.64 0 16.1 6.64 16.48 15.28A16 16 0 01416 160z"></path><path d="M336 424v-88a16 16 0 00-16-16H48a32.1 32.1 0 00-32 32.05c0 50.55 5.78 71.57 14.46 87.57C45.19 466.79 71.86 480 112 480h245.68a4 4 0 002.85-6.81C351.07 463.7 336 451 336 424z"></path></svg>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-light">Perbelanjaan</span>
                        <span class="tex-3xl font-bold">RM{{ user['spent'] }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex lg:hidden">
            <button @click="accounttab = 'tabEditCredentials'" class="btn btn-square w-16 h-16 p-0 grow shadow-lg rounded-none" :class="accounttab == 'tabEditCredentials' ? 'btn-primary' : 'btn-secondary'">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
            </button>
            <button @click="accounttab = 'tabEditSettings'" class="btn btn-square w-16 h-16 p-0 grow shadow-lg rounded-none" :class="accounttab == 'tabEditSettings' ? 'btn-primary' : 'btn-secondary'">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                </svg>
            </button>
        </div>
        <div>
            <div class="p-6 bg-white" x-show="accounttab == 'tabEditCredentials'">
                <form method="post" action="">
                    <div class="flex flex-col md:flex-row justify-between mb-4">
                        <div class="flex items-center mb-3 mb-md-0">
                            <span class="text-2xl fw-light mr-2">Kemaskini Akaun</span>
                        </div>
                        <button class="btn btn-primary px-3 md:px-16">
                            <span class="mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20px" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                </svg>
                            </span>
                            <span>simpan <span class="hidden md:inline">perubahan</span></span>
                        </button>
                    </div>

                    <hr class="my-5" style="height: .5px;">

                    <div class="flex flex-col md:flex-row mb-3 gap-4">
                        <div>
                            <label for="username" class="block mb-2">Username</label>
                            <span id="UsernameHelp" class="text-sm text-neutral-dark-300">
                                Username anda tidak boleh ditukar dan ia adalah muktamad
                            </span>
                        </div>
                        <input type="text" class="input input-bordered input-disabled w-full md:w-96 ml-auto" id="username" value="{{ user['username'] }}" readonly="">
                    </div>

                    <hr class="my-5" style="height: .5px;">

                    <div class="flex flex-col md:flex-row mb-3 gap-4">
                        <div>
                            <label for="current" class="block mb-2">Kata Laluan Semasa</label>
                            <span id="PasswordCurrentHelp" class="text-sm text-neutral-dark-300">
                                Isi kata laluan yang masih digunakan pada masa sekarang
                            </span>
                        </div>
                        <input type="password" class="input input-bordered w-full md:w-96 ml-auto" id="current" name="SettingsFrom[current_password]">
                    </div>

                    <hr class="my-5" style="height: .5px;">

                    <div class="flex flex-col md:flex-row mb-6 gap-4">
                        <div>
                            <label for="new" class="block mb-2">Kata Laluan Baru</label>
                            <span id="PasswordNewHelp" class="text-sm text-neutral-dark-300">
                                Untuk sekuriti maksima, kata laluan anda perlu mengandungi:
                                <ul class="list-inside list-disc p-0 mt-1">
                                    <li>Melebihi 8 aksara</li>
                                    <li>1 huruf besar dan lebih</li>
                                    <li>1 aksara unik dan lebih</li>
                                </ul>
                            </span>
                        </div>
                        <input type="password" class="input input-bordered w-full md:w-96 ml-auto" id="new" name="SettingsFrom[password]">
                    </div>

                    <div class="flex flex-col md:flex-row mb-3 gap-4">
                        <div>
                            <label for="confirm" class="block mb-2">Sah Kata Laluan Baharu</label>
                            <span id="PasswordNewConfirmHelp" class="text-sm text-neutral-dark-300">
                                Isi semula kata laluan baharu yang anda isi
                            </span>
                        </div>
                        <input type="password" class="input input-bordered w-full md:w-96 ml-auto" id="confirm" name="SettingsFrom[confirm_password]">
                    </div>
                </form>

            </div>
            <div class="p-6 bg-white" x-show="accounttab == 'tabEditSettings'">

                <form method="post" action="">
                    <div class="flex flex-col md:flex-row justify-between mb-4">
                        <div class="flex items-center mb-3 mb-md-0">
                            <span class="text-2xl fw-light mr-2">Tetapan Tambahan</span>
                        </div>
                        <button class="btn btn-primary px-3 md:px-16">
                            <span class="mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20px" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                </svg>
                            </span>
                            <span>simpan <span class="hidden md:inline">perubahan</span></span>
                        </button>
                    </div>

                    <hr class="my-5" style="height: .5px;">
                        
                    <div class="flex flex-col md:flex-row mb-3 gap-4">
                        <div>
                            <label for="language" class="block mb-2">Bahasa</label>
                            <span id="LanguageHelp" class="text-sm text-neutral-dark-300">
                                Tukar tetapan bahasa yang ada di dalam sistem (untuk sekarang, kami hanya sediakan bahasa Malaysia)
                            </span>
                        </div>
                        <select class="select select-bordered w-full md:w-96 ml-auto" id="language" name="SettingsFrom[lang]">
                            <option value="en" selected="">English</option>
                        </select>
                    </div>

                    <hr class="my-5" style="height: .5px;">

                    <div class="flex flex-col md:flex-row mb-3 gap-4">
                        <div>
                            <label for="timezone" class="block mb-2">Zon Masa</label>
                            <span id="LanguageHelp" class="text-sm text-neutral-dark-300">
                                Pilih zon masa yang anda mahu kaitkan dengan simpanan rekod
                            </span>
                        </div>
                        <select name="SettingsFrom[timezone]" id="timezone" class="select select-bordered w-full md:w-96 ml-auto">
                            <option value="50400">(UTC +14:00) Line Islands</option>
                        </select>
                    </div>

                </form>

                <hr class="my-5" style="height: .5px;">

                <form action="{{ page['url'] }}/newkey" method="post">
                    <div class="flex flex-col md:flex-row mb-3 gap-4">
                        <div>
                            <label for="key" class="block mb-2">Kunci API</label>
                            <span id="LanguageHelp" class="text-sm text-neutral-dark-300">
                                Kunci API digunakan untuk sambung ke sistem anda yang lain
                            </span>
                        </div>
                        <input type="text" class="input input-disabled w-full md:w-96 ml-auto" id="api_key" value="********************************" readonly="">
                    </div>
                    <button type="submit" class="btn btn-primary px-3 md:px-16 block ml-auto">
                        <span class="fw-light">Jana Baru</span>
                    </button>
                    <input type="hidden" name="_csrf" value="{{csrftoken}}">
                </form>
            </div>
        </div>
    </div>
</div>
