<div class="py-4 px-8" x-data="{ modalContentServiceId: -1 }">

    <h2 class="text-xl">Senarai Servis</h2>

    <div class="py-4 px-3 md:px-4 mt-4 bg-neutral-light-200 flex flex-col gap-4 md:flex-row items-center justify-between rounded-box shadow-md">
        <div x-data="{ search: '', get loweredSearch () { return this.search.toLowerCase() } }" class="relative w-auto dropdown self-start md:self-auto">
            <label @click="search = ''" tabindex="0" class="btn btn-primary flex flex-row w-full items-center gap-2 h-fit py-2">
                <div class="max-w-xs break-words"><span data-filter-active-category="true">Pilih Kategori</span></div>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
                </svg>
            </label>

            <div tabindex="0" class="
                dropdown-content
                bg-base-100 w-[56rem] p-2 rounded-box shadow-lg">
                <div class="mb-2 flex gap-2">
                    <label class="relative block w-full">
                        <span class="sr-only">Cari Kategori</span>
                        <span class="absolute inset-y-0 left-0 flex items-center pl-2 ">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 fill-slate-300" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                            </svg>
                        </span>
                        <input x-model.debounce="search" type="text" placeholder="Isi carian" class="input input-bordered w-full bg-white pl-8 placeholder:text-slate-400" />
                    </label>
                </div>

                <ul class="menu menu-compact bg-base-100 max-h-[44rem] overflow-y-auto">
                    <li>
                        <a href="#" data-filter-category-id="All" data-filter-category-name="All">Pilih Kategori</a>
                    </li>
                    {% for category in serviceCategoryList %}
                    {% if category.name %}
                        {# <li x-show="'{{category.name}}'.toLowerCase().indexOf(search.toLowerCase()) > -1"> #}
                        <li>
                            <a x-show="'{{ category.name|lower }}'.includes(loweredSearch)" href="#" data-filter-category-id="{{ category.id }}" data-filter-category-name="{{ category.name }}">{{ category.name }}</a>
                        </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <label class="relative block lg:w-[32rem] w-full md:mr-4 mb-4 md:mb-0">
            <span class="sr-only">Search</span>
            <span class="absolute inset-y-0 left-0 flex items-center pl-4 ">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 fill-slate-300" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
            </span>
            <div class="form-control">
                <div class="input-group">
                    <input data-search-service="#service-table" type="text" placeholder="Isi carian" class="input w-full bg-white pl-12 placeholder:text-slate-400" {% if serviceCategoryList is empty %}disabled{% endif %} />
                    <button data-filter-serch-btn="true" type="button" class="btn btn-secondary btn-square {% if serviceCategoryList is empty %}btn-disabled{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
                    </button>                        
                </div>
            </div>
        </label>
    </div>

    {% for category in serviceCategoryList %}    
        {% if category['name'] %}
        <div data-filter-table-category-id="{{ category.id }}" class="shadow-md mt-4 rounded-box overflow-hidden bg-white" >
        <div class="bg-neutral-light-200 px-4 py-4 text-2xl text-neutral-dark-700 font-light">
            {% if category['icon'] %}
                {% set categoryIcon = category['icon'] %}
                {% if categoryIcon['icon_type'] == 'icon' %} <span class="{{ categoryIcon['icon'] }}"></span>
                {% elseif categoryIcon['icon_type'] == 'emoji' %} <span>{{ categoryIcon['icon'] }}</span>
                {% elseif categoryIcon['icon_type'] == 'image' %} <img src="{{ categoryIcon['url'] }}" alt="{{ category['name'] }}" class="img-responsive btn-group-vertical" style="max-width: calc(1em + 6px); max-height: calc(1em + 6px);">
                {% endif %}
            {% endif %}
            <strong>{{ category['name'] }}</strong>        
        </div>
        <table class="w-full" id="service-table">
            <thead>
                <tr>
                    <th class="text-start px-4 py-2">Id</th>
                    <td class="text-start px-4 py-2">Name</td>
                    <td class="text-end px-4 py-2">Rate</td>
                    <td class="text-end px-4 py-2">Min</td>
                    <td class="text-end px-4 py-2">Max</td>
                    <td class="text-end px-4 py-2">Average Time</td>
                    <td class="text-start px-4 py-2"></td>
                </tr>
            </thead>
            <tbody x-data="{ modalOpen: false }">
            {% for service in category['services'] %}
                <tr data-filter-table-category-id="{{ category.id }}">
                    <th class="align-baseline text-start px-4 pb-2 font-medium text-neutral-dark-300" data-filter-table-service-id="{{ service.id }}">{{ service['id'] }}</th>
                    <td class="align-baseline text-start px-4 pb-2" data-filter-table-service-name="true">{{ service['name'] }}</td>
                    <td class="align-baseline text-end px-4 pb-2">{{ service.rate }}</td>
                    <td class="align-baseline text-end px-4 pb-2">{{ service['min'] }}</td>
                    <td class="align-baseline text-end px-4 pb-2">{{ service['max'] }}</td>
                    <td class="align-baseline text-end px-4 pb-2">{{ service['average_time'] }}</td>
                    <td class="align-baseline text-end px-4 pb-2">
                        {% if not service['description'] is empty %}
                        <label class="btn btn-secondary btn-sm w-32" for="modal-description" @click="modalContentServiceId = '{{ service.id }}'">Buka</label>
                        <template x-teleport="#modal-description-content">
                            <div x-show="modalContentServiceId == '{{ service.id }}'">
                                <h3 class="text-lg font-bold">{{service['name']}}</h3>
                                <p class="py-4">{{service['description']}}</p>
                            </div>
                        </template>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% endif %}
    {% endfor %}
</div>

<script>

// document.addEventListener('alpine:init', () => {
//     Alpine.data('tabledata', () => ({
//         search: '', modalContentServiceId: -1,
//     }))
// })
</script>